Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

flutter-analyze:
  name: flutter analyze (errors and warnings only)
  entry: bash
  args:
  - -c
  - cd app && flutter analyze --no-fatal-infos
  language: system
  pass_filenames: false

flutter-test:
  name: flutter test
  entry: bash
  args:
  - -c
  - cd app && flutter test --no-pub
  language: system
  pass_filenames: false

gofmt-api:
  name: gofmt (web)
  entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
  language: system

go-test-api:
  name: go test (api)
  entry: bash -lc 'cd api && go test ./...'
  language: system
  pass_filenames: false

gofmt-admin:
  name: gofmt (admin)
  entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
  language: system

go-test-admin:
  name: go test (admin)
  entry: bash -lc 'cd admin && go test ./...'
  language: system
  pass_filenames: false

go-test-web:
  name: go test (web)
  entry: bash -lc 'cd web && go test ./...'
  language: system
  pass_filenames: false

Establish HTML template structure
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/dashboard/data.go
  admin/internal/admin/templates/dashboard/index.templ
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/helpers/format.go
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/crumbs.templ
  admin/internal/admin/templates/layouts/crumbs_templ.go
  admin/internal/admin/templates/layouts/modal.templ
  admin/internal/admin/templates/layouts/modal_templ.go
  admin/internal/admin/templates/partials/breadcrumbs.templ
  admin/internal/admin/templates/partials/breadcrumbs_templ.go
  admin/internal/admin/templates/partials/nav.templ
  admin/internal/admin/templates/partials/nav_templ.go
  doc/admin/architecture.md
  doc/admin/tasks.md
  doc/admin/tasks/007-establish-html-template-structure-layouts-partials-components-and-helper-functions-i18n-cu.md
  doc/admin/templates.md
Due: gofmt-admin, go-test-admin

Establish integration/unit testing harness (httptest, HTML assertions, htmx interactions).
  doc/web/tasks.md
  doc/web/testing.md
  web/cmd/web/main.go
  web/cmd/web/main_test.go
  web/internal/format/format.go
  web/internal/handlers/home.go
  web/internal/i18n/i18n_test.go
  web/internal/middleware/csrf.go
  web/internal/middleware/session.go
  web/internal/middleware/wrap.go
  web/templates/layouts/base.tmpl
Due: gofmt-api, go-test-web

038 Implement favorites list, add, and remove endpoints referencing designs.
  api/cmd/api/main.go
  api/internal/di/container.go
  api/internal/handlers/me.go
  api/internal/handlers/me_favorites.go
  api/internal/handlers/me_test.go
  api/internal/repositories/firestore/favorite_repository.go
  api/internal/services/interfaces.go
  api/internal/services/user_service.go
  api/internal/services/user_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  web/internal/middleware/wrap.go
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/templates/helpers/format.go
  admin/internal/admin/templates/layouts/crumbs.templ
  admin/internal/admin/templates/layouts/crumbs_templ.go
Due: gofmt-admin, go-test-admin

fix
  api/internal/repositories/firestore/favorite_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/user_service.go
  api/internal/services/user_service_test.go
Due: gofmt-api, go-test-api

Implement base layout
  doc/web/tasks.md
  web/locales/en.json
  web/locales/ja.json
  web/templates/layouts/base.tmpl
Due: go-test-web

Build navigation menu, breadcrumbs, and active state handling based on current route.
  doc/web/tasks.md
  web/cmd/web/main.go
  web/internal/handlers/home.go
  web/internal/handlers/pages.go
  web/internal/nav/nav.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/layouts/base.tmpl
  web/templates/pages/account.tmpl
  web/templates/pages/guides.tmpl
  web/templates/pages/shop.tmpl
  web/templates/pages/templates.tmpl
Due: gofmt-api, go-test-web

Implement Tailwind configuration, design tokens, and base components library (buttons, tables, forms, modals, toasts).
  admin/Makefile
  admin/README.md
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/helpers/format.go
  admin/public/static/app.css
  admin/tailwind.config.js
  admin/web/styles/tailwind.css
  doc/admin/design_tokens.md
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/main.go
Due: gofmt-api, go-test-web

./tasks/039-implement-post-designs-supporting-typed-upload-logo-variants-including-asset-sto.md
  api/cmd/api/main.go
  api/internal/domain/types.go
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/handlers/me_favorites.go
  api/internal/repositories/firestore/design_repository.go
  api/internal/repositories/firestore/design_version_repository.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  api/internal/services/user_service.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
Due: gofmt-admin, go-test-admin

Create reusable components (hero, cards, tables, forms, button sets, skeleton loaders) with Tailwind variants.
  doc/web/tasks.md
  doc/web/tasks/013-create-reusable-components-hero-cards-tables-forms-button-sets-skeleton-loaders-with-tailw.md
  web/cmd/web/main.go
  web/templates/pages/templates.tmpl
  web/templates/partials/components/buttons.tmpl
  web/templates/partials/components/cards.tmpl
  web/templates/partials/components/forms.tmpl
  web/templates/partials/components/hero.tmpl
  web/templates/partials/components/skeletons.tmpl
  web/templates/partials/components/table.tmpl
Due: gofmt-api, go-test-web

fix
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
Due: gofmt-api, go-test-api

Set up integration tests harness (httptest + DOM assertions) and smoke test environment for admin flows.
  admin/Makefile
  admin/README.md
  admin/go.mod
  admin/go.sum
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/testutil/dom.go
  admin/internal/admin/testutil/server.go
  doc/admin/dev_setup.md
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

Implement Firebase ID token verification for staff/admin, including refresh and error handling UX.
  admin/README.md
  admin/cmd/admin/main.go
  admin/go.mod
  admin/go.sum
  admin/internal/admin/httpserver/middleware/auth.go
  admin/internal/admin/httpserver/middleware/firebase_authenticator.go
  admin/internal/admin/httpserver/middleware/firebase_authenticator_test.go
  admin/internal/admin/httpserver/middleware/middleware_test.go
  doc/admin/dev_setup.md
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/main.go
  web/templates/pages/templates.tmpl
  web/templates/partials/components/cards.tmpl
Due: gofmt-api, go-test-web

039 Implement supporting typed/upload/logo variants, including asset storage and validation.
  api/internal/domain/types.go
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/repositories/firestore/design_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/design_service.go
  api/internal/services/interfaces.go
  api/internal/services/user_service_test.go
Due: gofmt-api, go-test-api

fix
  admin/cmd/admin/main.go
Due: gofmt-admin, go-test-admin

Create reusable components (hero, cards, tables, forms, button sets, skeleton loaders) with Tailwind variants
  doc/web/tasks.md
  doc/web/tasks/014-implement-shared-modals-system-with-htmx-targets-and-close-triggers-esc-overlay-click.md
  web/cmd/web/main.go
  web/templates/layouts/base.tmpl
  web/templates/pages/templates.tmpl
  web/templates/partials/components/modal.tmpl
Due: gofmt-api, go-test-web

040 Implement designs listing/detail and filtering by status/user.
  doc/api/tasks.md
Due: none

Build session middleware storing user info, CSRF tokens, and feature flags; add remember-me support if required.
  admin/cmd/admin/main.go
  admin/go.mod
  admin/go.sum
  admin/internal/admin/httpserver/middleware/auth.go
  admin/internal/admin/httpserver/middleware/csrf.go
  admin/internal/admin/httpserver/middleware/firebase_authenticator.go
  admin/internal/admin/httpserver/middleware/middleware_test.go
  admin/internal/admin/httpserver/middleware/session.go
  admin/internal/admin/httpserver/middleware/session_test.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/session/manager.go
  admin/internal/admin/session/manager_test.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

041 Implement design update/delete with permission checks and soft delete handling.
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  web/templates/partials/components/modal.tmpl
Due: go-test-web

fix
  admin/internal/admin/httpserver/middleware/auth.go
Due: gofmt-admin, go-test-admin

Provide SEO/OGP tags, structured data helpers, and analytics instrumentation hooks.
  doc/web/tasks.md
  web/cmd/web/main.go
  web/config/env.sample
  web/internal/handlers/analytics.go
  web/internal/handlers/home.go
  web/internal/handlers/pages.go
  web/internal/seo/jsonld.go
  web/internal/seo/seo.go
  web/templates/layouts/base.tmpl
  web/templates/partials/analytics_body.tmpl
  web/templates/partials/analytics_head.tmpl
  web/templates/partials/head.tmpl
Due: gofmt-api, go-test-web

app initial commit
  app/AGENTS.md
  app/lib/core/routing/app_route_configuration.dart
  app/lib/core/routing/app_router_delegate.dart
  app/lib/core/routing/app_stack.dart
  app/lib/core/routing/app_state.dart
  app/lib/core/routing/app_state_notifier.dart
  app/lib/core/routing/app_tab.dart
  app/lib/core/routing/routing.dart
Due: flutter-analyze, flutter-test

Implement RBAC guard utilities for template rendering (sidebar filtering, action visibility).
  admin/internal/admin/httpserver/middleware/rbac.go
  admin/internal/admin/rbac/rbac.go
  admin/internal/admin/rbac/rbac_test.go
  admin/internal/admin/templates/dashboard/data.go
  admin/internal/admin/templates/helpers/rbac.go
  admin/internal/admin/templates/partials/nav.templ
  admin/internal/admin/templates/partials/nav_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

0. Planning & Architecture
  app/lib/features/sample_counter/application/counter_notifier.dart
  app/lib/features/sample_counter/application/providers.dart
  app/lib/features/sample_counter/data/local_counter_repository.dart
  app/lib/features/sample_counter/domain/counter_repository.dart
  app/lib/features/sample_counter/presentation/counter_screen.dart
  app/test/features/sample_counter/counter_notifier_test.dart
  doc/app/api_contract_checklist.md
  doc/app/architecture.md
  doc/app/architecture_review_checklist.md
  doc/app/navigation.md
  doc/app/riverpod_guidelines.md
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

Build landing page
  doc/web/tasks.md
  web/cmd/web/main.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/home.tmpl
  web/templates/partials/frags/compare_sku_table.tmpl
  web/templates/partials/frags/guides_latest.tmpl
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/rbac/rbac.go
  admin/internal/admin/rbac/rbac_test.go
Due: gofmt-admin, go-test-admin

Initialize Flutter project with flavors (dev/stg/prod), app icons, splash screens, and build configurations.
  app/android/app/build.gradle.kts
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/values/strings.xml
  app/lib/core/app/app_flavor.dart
  app/lib/main.dart
  doc/app/flavors.md
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

042 Implement design version listing/detail endpoints maintaining history snapshots.
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/repositories/firestore/design_version_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Create login/logout flows
  admin/internal/admin/httpserver/auth_handlers.go
  admin/internal/admin/httpserver/middleware/auth.go
  admin/internal/admin/httpserver/middleware/csrf.go
  admin/internal/admin/httpserver/middleware/middleware_test.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/templates/auth/data.go
  admin/internal/admin/templates/auth/login.templ
  admin/internal/admin/templates/auth/login_templ.go
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/dashboard/data.go
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/layouts/auth.templ
  admin/internal/admin/templates/layouts/auth_templ.go
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/partials/breadcrumbs_templ.go
  admin/internal/admin/templates/partials/nav_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/main.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/partials/frags/compare_sku_table.tmpl
Due: gofmt-api, go-test-web

fix
  api/cmd/api/main.go
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/platform/storage/copier.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
Due: gofmt-api, go-test-api

Configure linting/formatting (analysis_options), CI pipeline (flutter analyze/test), and code coverage thresholds.
  Makefile
  app/analysis_options.yaml
  app/lib/core/app/app_flavor.dart
  app/lib/features/sample_counter/presentation/counter_screen.dart
  app/test/features/sample_counter/counter_notifier_test.dart
  app/tool/check_coverage.dart
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

Implement shop listing
  doc/web/tasks.md
  web/cmd/web/main.go
  web/templates/pages/shop.tmpl
  web/templates/partials/frags/shop_table.tmpl
Due: gofmt-api, go-test-web

043 Implement design duplication endpoint producing new design with copied assets/metadata.
  doc/api/tasks.md
Due: none

Path conditions:
  flutter-analyze: any of: ^app/.*\.dart$
  flutter-test: any of: ^app/.*\.dart$
  gofmt-api: (any of: ^api/.*\.go$ and \.go$) or (any of: ^web/.*\.go$ and \.go$)
  go-test-api: any of: ^api/
  gofmt-admin: any of: ^admin/.*\.go$ and \.go$
  go-test-admin: any of: ^admin/
  go-test-web: any of: ^web/
