Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

.pre-commit-config.yaml:

fail_fast: true

repos:
  # 基本的なチェック（空白や改行など）
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: dart-format
        name: dart format
        entry: dart
        args: ["format", "app/"]
        language: system
        types: [dart]
      - id: flutter-analyze
        name: flutter analyze (errors and warnings only)
        entry: bash
        args: ["-c", "cd app && flutter analyze --no-fatal-infos"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: flutter-test
        name: flutter test
        entry: bash
        args: ["-c", "cd app && flutter test --no-pub"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: gofmt-api
        name: gofmt (api)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^api/.*\.go$
      - id: go-test-api
        name: go test (api)
        entry: bash -lc 'cd api && go test ./...'
        language: system
        pass_filenames: false
        files: ^api/
      - id: gofmt-admin
        name: gofmt (admin)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^admin/.*\.go$
      - id: go-test-admin
        name: go test (admin)
        entry: bash -lc 'cd admin && go test ./...'
        language: system
        pass_filenames: false
        files: ^admin/
      - id: gofmt-api
        name: gofmt (web)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^web/.*\.go$
      - id: go-test-web
        name: go test (web)
        entry: bash -lc 'cd web && go test ./...'
        language: system
        pass_filenames: false
        files: ^web/

Set up localization tooling (ARB files), theming, typography, and design tokens shared across screens.
  .github/workflows/flutter-ci.yml
  Makefile
  app/analysis_options.yaml
  app/l10n.yaml
  app/lib/core/theme/app_theme.dart
  app/lib/core/theme/tokens.dart
  app/lib/features/sample_counter/presentation/counter_screen.dart
  app/lib/l10n/gen/app_localizations.dart
  app/lib/l10n/gen/app_localizations_en.dart
  app/lib/l10n/gen/app_localizations_ja.dart
  app/lib/l10n/intl_en.arb
  app/lib/l10n/intl_ja.arb
  app/lib/main.dart
  app/pubspec.lock
  app/pubspec.yaml
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

fix
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/auth_handlers.go
  admin/internal/admin/httpserver/middleware/auth.go
  admin/internal/admin/httpserver/middleware/middleware_test.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/testutil/server.go
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/main.go
  web/internal/format/format.go
  web/internal/handlers/pages.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/shop.tmpl
  web/templates/partials/frags/shop_table.tmpl
Due: gofmt-api, go-test-web

Integrate Firebase services (Auth, Messaging, Remote Config) and configure environment-specific options.
  app/lib/core/firebase/app_firebase.dart
  app/lib/core/firebase/firebase_providers.dart
  app/lib/core/theme/app_theme.dart
  app/lib/firebase_options.dart
  app/lib/main.dart
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

044 Implement AI suggestion request endpoint queuing jobs and returning suggestion IDs.
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/services/background_job_dispatcher.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/internal/services/background_job_dispatcher.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
Due: gofmt-api, go-test-api

Build product detail
  doc/web/tasks.md
  web/cmd/web/main.go
  web/internal/handlers/pages.go
  web/templates/pages/product_detail.tmpl
  web/templates/partials/components/product.tmpl
  web/templates/partials/frags/cart_add_confirmation.tmpl
  web/templates/partials/frags/product_gallery.tmpl
  web/templates/partials/frags/product_gallery_modal.tmpl
  web/templates/partials/frags/product_reviews_snippet.tmpl
  web/templates/partials/frags/product_tab.tmpl
Due: gofmt-api, go-test-web

Add MFA/API-key management UI
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/httpserver/ui/profile_handlers.go
  admin/internal/admin/profile/http_service.go
  admin/internal/admin/profile/http_service_test.go
  admin/internal/admin/profile/service.go
  admin/internal/admin/templates/auth/login_templ.go
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/layouts/auth_templ.go
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/layouts/modal_templ.go
  admin/internal/admin/templates/partials/breadcrumbs_templ.go
  admin/internal/admin/templates/partials/nav_templ.go
  admin/internal/admin/templates/profile/data.go
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
  admin/internal/admin/testutil/server.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  web/templates/pages/product_detail.tmpl
  web/templates/partials/frags/product_gallery.tmpl
  web/templates/partials/frags/product_gallery_modal.tmpl
Due: go-test-web

Implement global layout template
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/middleware/environment.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/templates/dashboard/index.templ
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/partials/nav.templ
  admin/internal/admin/templates/partials/nav_templ.go
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/base_templ.go
  admin/public/static/app.js
Due: gofmt-admin, go-test-admin

045 Implement AI suggestion listing/detail retrieval from job store.画面設計
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

046 Implement accept/reject endpoints mutating suggestion status and updating design state.
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Add test for rejecting AI suggestion status conflict and refine status validation logic
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
Due: gofmt-api, go-test-api

047 Implement registrability-check endpoint integrating external service and caching results.
  api/internal/domain/types.go
  api/internal/handlers/designs.go
  api/internal/handlers/designs_test.go
  api/internal/handlers/public_templates.go
  api/internal/handlers/rate_limiter.go
  api/internal/repositories/firestore/design_registrability_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/design_service.go
  api/internal/services/design_service_test.go
  api/internal/services/interfaces.go
  api/internal/services/registrability_errors.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/cmd/api/main.go
  api/internal/services/registrability_evaluator.go
Due: gofmt-api, go-test-api

048 Implement name conversion endpoint invoking transliteration service and returning ranked candidates.
  api/cmd/api/main.go
  api/internal/domain/name_mapping.go
  api/internal/handlers/name_mappings.go
  api/internal/handlers/name_mappings_test.go
  api/internal/handlers/router.go
  api/internal/repositories/firestore/name_mapping_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/interfaces.go
  api/internal/services/name_mapping_service.go
  api/internal/services/name_mapping_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/internal/handlers/name_mappings.go
  api/internal/handlers/router.go
Due: gofmt-api, go-test-api

049 Implement mapping selection endpoint persisting chosen candidate and locking mapping.
  api/cmd/api/main.go
  api/internal/domain/name_mapping.go
  api/internal/domain/types.go
  api/internal/handlers/name_mappings.go
  api/internal/handlers/name_mappings_test.go
  api/internal/handlers/router.go
  api/internal/repositories/firestore/name_mapping_repository.go
  api/internal/repositories/firestore/user_repository.go
  api/internal/services/interfaces.go
  api/internal/services/name_mapping_service.go
  api/internal/services/name_mapping_service_test.go
  api/internal/services/user_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/internal/services/name_mapping_service.go
  api/internal/services/name_mapping_service_test.go
Due: gofmt-api, go-test-api

050 Implement cart retrieval endpoint keyed by user/session with lazy creation.
  api/cmd/api/main.go
  api/internal/handlers/cart.go
  api/internal/handlers/cart_test.go
  api/internal/repositories/firestore/cart_repository.go
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

051 Implement cart patch endpoint handling currency, shipping address, promotion hints
  api/internal/domain/types.go
  api/internal/handlers/cart.go
  api/internal/handlers/cart_test.go
  api/internal/repositories/firestore/cart_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
  api/internal/services/interfaces.go
Due: gofmt-api, go-test-api

fix
  api/internal/handlers/cart.go
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
  api/internal/services/interfaces.go
Due: gofmt-api, go-test-api

051 Implement cart patch endpoint handling currency, shipping address, promotion hints.
  doc/api/tasks.md
Due: none

Build dynamic sidebar rendering with route highlighting and permission-based sections.
  admin/internal/admin/httpserver/middleware/auth.go
  admin/internal/admin/httpserver/middleware/requestinfo.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/navigation/menu.go
  admin/internal/admin/templates/dashboard/data.go
  admin/internal/admin/templates/dashboard/index.templ
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/helpers/navigation.go
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/partials/nav.templ
  admin/internal/admin/templates/partials/nav_templ.go
  admin/internal/admin/templates/partials/nav_test.go
  admin/internal/admin/templates/profile/data.go
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
Due: gofmt-admin, go-test-admin

052 Implement cart item CRUD with product availability validation and quantity checks.
  api/internal/handlers/cart.go
  api/internal/handlers/cart_test.go
  api/internal/repositories/firestore/cart_repository.go
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Build dynamic sidebar rendering with route highlighting and permission-based sections.
  admin/internal/admin/navigation/menu.go
  admin/internal/admin/templates/partials/nav.templ
  admin/internal/admin/templates/partials/nav_templ.go
  admin/internal/admin/templates/partials/nav_test.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  api/internal/repositories/firestore/cart_repository.go
Due: gofmt-api, go-test-api

Create top bar components (environment badge, search shortcut, notification icon, user menu).
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/partials/topbar.templ
  admin/internal/admin/templates/partials/topbar_templ.go
  admin/internal/admin/templates/partials/topbar_test.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

053 Implement cart estimate endpoint calculating totals, promotions, tax, and shipping.
  api/cmd/api/main.go
  api/internal/handlers/cart.go
  api/internal/handlers/cart_test.go
  api/internal/handlers/router.go
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  admin/public/static/app.js
Due: go-test-admin

fix
  api/internal/services/cart_service.go
Due: gofmt-api, go-test-api

Implement modal container () with htmx target wiring, animations, and escape-key close behaviour.
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/layouts/modal.templ
  admin/internal/admin/templates/layouts/modal_templ.go
  admin/internal/admin/templates/partials/topbar.templ
  admin/internal/admin/templates/partials/topbar_templ.go
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
  admin/public/static/app.css
  admin/public/static/app.js
  admin/web/styles/tailwind.css
  doc/admin/tasks.md
  doc/admin/tasks/018-implement-modal-container-modal-with-htmx-target-wiring-animations-and-escape-key-close-be.md
Due: gofmt-admin, go-test-admin

054 Implement apply/remove promo endpoints interacting with promotion service and idempotency.
  api/internal/handlers/cart.go
  api/internal/handlers/cart_test.go
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/internal/services/cart_service.go
  api/internal/services/cart_service_test.go
Due: gofmt-api, go-test-api

fix
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
  admin/public/static/app.js
  doc/admin/tasks/018-implement-modal-container-modal-with-htmx-target-wiring-animations-and-escape-key-close-be.md
Due: gofmt-admin, go-test-admin

Provide reusable pagination controls, table headers with sort indicators, and bulk action toolbar components.
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/helpers/format.go
  admin/internal/admin/templates/helpers/format_test.go
  admin/internal/admin/templates/layouts/modal_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
Due: gofmt-admin, go-test-admin

fix
  admin/internal/admin/templates/layouts/base.templ
  admin/public/static/app.css
  admin/public/static/app.js
  admin/web/styles/tailwind.css
Due: go-test-admin

fix
  api/internal/services/checkout_service.go
  api/internal/services/checkout_service_test.go
Due: gofmt-api, go-test-api
