Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

.pre-commit-config.yaml:

fail_fast: true

repos:
  # 基本的なチェック（空白や改行など）
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: dart-format
        name: dart format
        entry: dart
        args: ["format", "app/"]
        language: system
        types: [dart]
      - id: flutter-analyze
        name: flutter analyze (errors and warnings only)
        entry: bash
        args: ["-c", "cd app && flutter analyze --no-fatal-infos"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: flutter-test
        name: flutter test
        entry: bash
        args: ["-c", "cd app && flutter test --no-pub"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: gofmt-api
        name: gofmt (api)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^api/.*\.go$
      - id: go-test-api
        name: go test (api)
        entry: bash -lc 'cd api && go test ./...'
        language: system
        pass_filenames: false
        files: ^api/
      - id: gofmt-admin
        name: gofmt (admin)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^admin/.*\.go$
      - id: go-test-admin
        name: go test (admin)
        entry: bash -lc 'cd admin && go test ./...'
        language: system
        pass_filenames: false
        files: ^admin/
      - id: gofmt-api
        name: gofmt (web)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^web/.*\.go$
      - id: go-test-web
        name: go test (web)
        entry: bash -lc 'cd web && go test ./...'
        language: system
        pass_filenames: false
        files: ^web/

Map Gemini reason languages from registry
  api/src/language_registry.rs
  api/src/main.rs
  app/lib/app/app.dart
  app/lib/app/localization/language_registry.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/test/language_registry_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test, go-test-api

Add API locale regression tests
  api/src/main.rs
  doc/multilingual-release-plan.md
Due: go-test-api

Audit admin localized form writes
  doc/multilingual-release-plan.md
Due: none

Preserve admin localized map keys
  admin/src/main.rs
  doc/multilingual-release-plan.md
Due: go-test-admin

Test admin localized map preservation
  admin/src/main.rs
  doc/multilingual-release-plan.md
Due: go-test-admin

Implement M5-T04 compact localized editor
  admin/src/main.rs
  admin/templates/country_detail.html
  admin/templates/facet_tag_detail.html
  admin/templates/material_detail.html
  admin/templates/stone_listing_detail.html
  doc/multilingual-release-plan.md
Due: go-test-admin

Complete M5-T05 admin policy verification
  doc/multilingual-release-plan.md
Due: none

Implement M6-T01 i18n todo report
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/todo.mjs
  scripts/i18n/todo.test.mjs
Due: none

Implement M6-T02 i18n check gate
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/check.mjs
  scripts/i18n/check.test.mjs
Due: none

Implement M6-T03 ARB validation
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/arb.mjs
  scripts/i18n/arb.test.mjs
  scripts/i18n/check.mjs
  scripts/i18n/check.test.mjs
Due: none

Implement M6-T04 JSON shape validation
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/check.mjs
  scripts/i18n/check.test.mjs
  scripts/i18n/json_shape.mjs
  scripts/i18n/json_shape.test.mjs
Due: none

Implement M6-T05 intention validation
  Makefile
  app/lib/l10n/app_ja_intentions.json
  doc/multilingual-release-plan.md
  scripts/i18n/check.mjs
  scripts/i18n/check.test.mjs
  scripts/i18n/intentions.mjs
  scripts/i18n/intentions.test.mjs
  web/content/i18n/commercial_transactions/ja.json
  web/content/i18n/common/ja_intentions.json
Due: go-test-web

Implement M6-T06 i18n handoff helpers
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/handoff.mjs
  scripts/i18n/handoff.test.mjs
Due: none

Implement M6-T07 i18n CI gate
  .github/workflows/i18n.yml
  Makefile
  doc/multilingual-release-plan.md
Due: none

Implement M7-T02 pilot app content
  app/assets/i18n/settings/ar.json
  app/assets/i18n/settings/ar_intentions.json
  app/assets/i18n/settings/zh.json
  app/assets/i18n/settings/zh_intentions.json
  app/assets/i18n/settings/zhtw.json
  app/assets/i18n/settings/zhtw_intentions.json
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/settings/presentation/settings_content.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/lib/l10n/app_ar.arb
  app/lib/l10n/app_ar_intentions.json
  app/lib/l10n/app_zh_intentions.json
  app/lib/l10n/generated/generated_hanko_localizations.dart
  app/lib/l10n/generated/generated_hanko_localizations_ar.dart
  app/test/generated_hanko_localizations_test.dart
  app/test/language_registry_test.dart
  app/test/settings_content_test.dart
  app/test/widget_test.dart
  config/languages.json
  doc/multilingual-release-plan.md
  scripts/i18n/fixtures/registry-core.json
Due: flutter-analyze, flutter-test

Implement M7-T04 pilot API content
  api/content/i18n/catalog/countries.json
  api/content/i18n/catalog/countries_intentions.json
  api/content/i18n/catalog/facet_tags.json
  api/content/i18n/catalog/facet_tags_intentions.json
  api/content/i18n/catalog/materials.json
  api/content/i18n/catalog/materials_intentions.json
  api/content/i18n/catalog/stone_listings.json
  api/content/i18n/catalog/stone_listings_intentions.json
  api/content/i18n/checkout/ar.json
  api/content/i18n/checkout/ar_intentions.json
  api/src/language_registry.rs
  api/src/main.rs
  app/test/checkout_return_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test, go-test-api

Implement M7-T05 pilot screenshot QA
  app/test/pilot_layout_qa_test.dart
  doc/multilingual-release-plan.md
  doc/qa/m7-t05/README.md
  doc/qa/m7-t05/manifest.json
  doc/qa/m7-t05/screenshots/web-ar-about-mobile.png
  doc/qa/m7-t05/screenshots/web-ar-payment-success-mobile.png
  doc/qa/m7-t05/screenshots/web-zh-top-mobile.png
  doc/qa/m7-t05/screenshots/web-zhtw-about-mobile.png
  web/src/main.rs
  web/templates/about.html
  web/templates/blog_article.html
  web/templates/blog_index.html
  web/templates/commercial_transactions.html
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/terms.html
  web/templates/top.html
Due: flutter-analyze, flutter-test, go-test-web

Implement M7-T06 pilot readiness decision
  doc/multilingual-release-plan.md
  doc/qa/m7-t06/README.md
  doc/qa/m7-t06/readiness.json
  web/src/main.rs
Due: go-test-web

Implement M8-T01 store metadata schema
  Makefile
  doc/multilingual-release-plan.md
  release/store_metadata/source/en.json
  release/store_metadata/source/ja.json
  release/store_metadata/source/ja_intentions.json
  release/store_metadata/source/schema.json
  release/store_metadata/source/zh.json
  release/store_metadata/source/zh_intentions.json
  release/store_metadata/source/zhtw.json
  release/store_metadata/source/zhtw_intentions.json
  scripts/release/store_metadata.mjs
  scripts/release/store_metadata.test.mjs
Due: none

Implement M8-T02 Google Play metadata
  Makefile
  doc/multilingual-release-plan.md
  release/store_metadata/google_play/en-US/changelogs/default.txt
  release/store_metadata/google_play/en-US/full_description.txt
  release/store_metadata/google_play/en-US/short_description.txt
  release/store_metadata/google_play/en-US/title.txt
  release/store_metadata/google_play/ja-JP/changelogs/default.txt
  release/store_metadata/google_play/ja-JP/full_description.txt
  release/store_metadata/google_play/ja-JP/short_description.txt
  release/store_metadata/google_play/ja-JP/title.txt
  release/store_metadata/google_play/zh-CN/changelogs/default.txt
  release/store_metadata/google_play/zh-CN/full_description.txt
  release/store_metadata/google_play/zh-CN/short_description.txt
  release/store_metadata/google_play/zh-CN/title.txt
  release/store_metadata/google_play/zh-TW/changelogs/default.txt
  release/store_metadata/google_play/zh-TW/full_description.txt
  release/store_metadata/google_play/zh-TW/short_description.txt
  release/store_metadata/google_play/zh-TW/title.txt
  scripts/release/google_play_metadata.mjs
  scripts/release/google_play_metadata.test.mjs
Due: none

Implement M8-T03 app store metadata
  Makefile
  doc/multilingual-release-plan.md
  release/store_metadata/app_store/en-US/description.txt
  release/store_metadata/app_store/en-US/keywords.txt
  release/store_metadata/app_store/en-US/marketing_url.txt
  release/store_metadata/app_store/en-US/name.txt
  release/store_metadata/app_store/en-US/privacy_url.txt
  release/store_metadata/app_store/en-US/release_notes.txt
  release/store_metadata/app_store/en-US/subtitle.txt
  release/store_metadata/app_store/en-US/support_url.txt
  release/store_metadata/app_store/ja/description.txt
  release/store_metadata/app_store/ja/keywords.txt
  release/store_metadata/app_store/ja/marketing_url.txt
  release/store_metadata/app_store/ja/name.txt
  release/store_metadata/app_store/ja/privacy_url.txt
  release/store_metadata/app_store/ja/release_notes.txt
  release/store_metadata/app_store/ja/subtitle.txt
  release/store_metadata/app_store/ja/support_url.txt
  release/store_metadata/app_store/zh-Hans/description.txt
  release/store_metadata/app_store/zh-Hans/keywords.txt
  release/store_metadata/app_store/zh-Hans/marketing_url.txt
  release/store_metadata/app_store/zh-Hans/name.txt
  release/store_metadata/app_store/zh-Hans/privacy_url.txt
  release/store_metadata/app_store/zh-Hans/release_notes.txt
  release/store_metadata/app_store/zh-Hans/subtitle.txt
  release/store_metadata/app_store/zh-Hans/support_url.txt
  release/store_metadata/app_store/zh-Hant/description.txt
  release/store_metadata/app_store/zh-Hant/keywords.txt
  release/store_metadata/app_store/zh-Hant/marketing_url.txt
  release/store_metadata/app_store/zh-Hant/name.txt
  release/store_metadata/app_store/zh-Hant/privacy_url.txt
  release/store_metadata/app_store/zh-Hant/release_notes.txt
  release/store_metadata/app_store/zh-Hant/subtitle.txt
  release/store_metadata/app_store/zh-Hant/support_url.txt
  scripts/release/app_store_metadata.mjs
  scripts/release/app_store_metadata.test.mjs
Due: none

Implement M8-T04 android fastlane
  Makefile
  app/android/Gemfile
  app/android/Gemfile.lock
  app/android/fastlane/Appfile
  app/android/fastlane/Fastfile
  doc/multilingual-release-plan.md
  scripts/release/android_fastlane_config.mjs
  scripts/release/android_fastlane_config.test.mjs
Due: none

Implement M8-T05 ios fastlane
  Makefile
  app/ios/Gemfile
  app/ios/Gemfile.lock
  app/ios/fastlane/Appfile
  app/ios/fastlane/Fastfile
  doc/multilingual-release-plan.md
  scripts/release/ios_fastlane_config.mjs
  scripts/release/ios_fastlane_config.test.mjs
Due: none

Implement M8-T06 release guardrails
  .gitignore
  Makefile
  doc/multilingual-release-plan.md
  doc/release-secret-guardrails.md
  scripts/release/secret_guardrails.mjs
  scripts/release/secret_guardrails.test.mjs
Due: none

Implement M8-T07 screenshot metadata workflow
  Makefile
  doc/multilingual-release-plan.md
  doc/release-screenshot-workflow.md
  release/store_metadata/screenshots/manifest.json
  scripts/release/screenshot_metadata.mjs
  scripts/release/screenshot_metadata.test.mjs
Due: none

Implement M9-T03 holdout review
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/holdouts.mjs
  scripts/i18n/holdouts.test.mjs
Due: none

Implement M9-T04 layout QA
  Makefile
  doc/multilingual-release-plan.md
  doc/qa/m9-t04/README.md
  doc/qa/m9-t04/layout-qa.json
  scripts/i18n/layout_qa.mjs
  scripts/i18n/layout_qa.test.mjs
Due: none

Implement M9-T05 staged flags
  Makefile
  doc/multilingual-release-plan.md
  doc/qa/m9-t05/README.md
  doc/qa/m9-t05/flag-stages.json
  scripts/i18n/flag_stages.mjs
  scripts/i18n/flag_stages.test.mjs
Due: none

Implement M9-T06 translation freeze
  Makefile
  doc/multilingual-release-plan.md
  doc/qa/m9-t06/README.md
  doc/qa/m9-t06/translation-freeze.json
  scripts/i18n/freeze.mjs
  scripts/i18n/freeze.test.mjs
Due: none

Implement M10-T02 iOS release candidate
  app/.metadata
  app/ios/ExportOptions.plist
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/ios/fastlane/Fastfile
  doc/multilingual-release-plan.md
  doc/qa/m10-t02/README.md
  doc/qa/m10-t02/ios-release-candidate.json
  scripts/release/ios_fastlane_config.mjs
  scripts/release/ios_fastlane_config.test.mjs
Due: none

Implement M10-T03 deep link return checks
  api/src/main.rs
  app/android/app/src/main/AndroidManifest.xml
  app/lib/features/order/domain/checkout_return.dart
  app/test/checkout_return_test.dart
  app/test/platform_deep_link_config_test.dart
  doc/app-release-deep-link-config.md
  doc/multilingual-release-plan.md
  doc/qa/m10-t03/README.md
  doc/qa/m10-t03/deep-link-payment-return-smoke.json
  web/src/main.rs
Due: flutter-analyze, flutter-test, go-test-api, go-test-web

Implement M10-T06 production signoff gate
  app/android/fastlane/Fastfile
  app/ios/fastlane/Fastfile
  doc/multilingual-release-plan.md
  doc/qa/m10-t06/README.md
  doc/qa/m10-t06/production-release-signoff.json
  doc/release-secret-guardrails.md
  scripts/release/android_fastlane_config.mjs
  scripts/release/android_fastlane_config.test.mjs
  scripts/release/ios_fastlane_config.mjs
  scripts/release/ios_fastlane_config.test.mjs
Due: none

Implement M11-T01 locale diagnostics monitoring
  Makefile
  doc/multilingual-release-plan.md
  doc/qa/m11-t01/README.md
  doc/qa/m11-t01/locale-diagnostics-review.json
  scripts/i18n/diagnostics.mjs
  scripts/i18n/diagnostics.test.mjs
Due: none

Implement M11-T02 support triage gate
  Makefile
  doc/multilingual-release-plan.md
  doc/qa/m11-t02/README.md
  doc/qa/m11-t02/support-feedback-triage.json
  scripts/i18n/support_triage.mjs
  scripts/i18n/support_triage.test.mjs
Due: none

Implement M11-T03 translation patch gate
  Makefile
  doc/multilingual-release-plan.md
  doc/qa/m11-t03/README.md
  doc/qa/m11-t03/translation-patch-review.json
  scripts/i18n/translation_patches.mjs
  scripts/i18n/translation_patches.test.mjs
Due: none

Implement M11-T04 migration cleanup
  Makefile
  app/lib/app/app.dart
  app/lib/app/localization/app_localization.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/core/errors/app_error.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/my_seals/presentation/my_seals_home_screen.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/lib/features/stones/presentation/stones_home_screen.dart
  app/test/generated_hanko_localizations_test.dart
  app/test/pilot_layout_qa_test.dart
  app/test/rtl_overflow_test.dart
  app/test/widget_test.dart
  doc/multilingual-release-plan.md
  doc/qa/m11-t04/README.md
  doc/qa/m11-t04/migration-cleanup.json
  scripts/i18n/migration_cleanup.mjs
  scripts/i18n/migration_cleanup.test.mjs
Due: flutter-analyze, flutter-test
