Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

flutter-analyze:
  name: flutter analyze (errors and warnings only)
  entry: bash
  args:
  - -c
  - cd app && flutter analyze --no-fatal-infos
  language: system
  pass_filenames: false

flutter-test:
  name: flutter test
  entry: bash
  args:
  - -c
  - cd app && flutter test --no-pub
  language: system
  pass_filenames: false

gofmt-api:
  name: gofmt (web)
  entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
  language: system

go-test-api:
  name: go test (api)
  entry: bash -lc 'cd api && go test ./...'
  language: system
  pass_filenames: false

gofmt-admin:
  name: gofmt (admin)
  entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
  language: system

go-test-admin:
  name: go test (admin)
  entry: bash -lc 'cd admin && go test ./...'
  language: system
  pass_filenames: false

go-test-web:
  name: go test (web)
  entry: bash -lc 'cd web && go test ./...'
  language: system
  pass_filenames: false

fix
  api/internal/handlers/admin_catalog_test.go
  api/internal/handlers/public_templates.go
  api/internal/repositories/interfaces.go
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
Due: gofmt-api, go-test-api

fix
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/httpserver/ui/path_helpers.go
  admin/internal/admin/httpserver/ui/production_handlers.go
  admin/internal/admin/templates/helpers/format.go
  admin/internal/admin/templates/production/index.templ
  admin/internal/admin/templates/production/index_templ.go
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/cart_view.go
  web/cmd/web/checkout_shipping_handlers.go
  web/cmd/web/checkout_shipping_view.go
Due: gofmt-api, go-test-web

Develop navigation shell with bottom tabs
  app/lib/core/routing/app_route_configuration.dart
  app/lib/core/routing/app_route_information_parser.dart
  app/lib/core/routing/app_router_delegate.dart
  app/lib/core/routing/app_stack.dart
  app/lib/core/routing/app_state.dart
  app/lib/core/routing/app_state_notifier.dart
  app/lib/core/routing/app_tab.dart
  app/lib/core/routing/navigation_controller.dart
  app/lib/core/routing/presentation/app_navigation_shell.dart
  app/lib/features/navigation/presentation/deep_link_pages.dart
  app/lib/features/navigation/presentation/tab_root_page.dart
  app/lib/main.dart
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

071 Implement admin CRUD for products including SKU configuration and price tiers.
  api/internal/domain/types.go
  api/internal/handlers/admin_catalog.go
  api/internal/handlers/admin_catalog_test.go
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/repositories/firestore/inventory_repository.go
  api/internal/repositories/firestore/inventory_repository_integration_test.go
  api/internal/repositories/interfaces.go
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
  api/internal/services/interfaces.go
  api/internal/services/inventory_service.go
  api/internal/services/inventory_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Create work order view
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/production_handlers.go
  admin/internal/admin/production/service.go
  admin/internal/admin/production/static.go
  admin/internal/admin/templates/production/workorder.templ
  admin/internal/admin/templates/production/workorder_data.go
  admin/internal/admin/templates/production/workorder_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

Build payment page
  doc/web/tasks.md
  web/cmd/web/checkout_payment_handlers.go
  web/cmd/web/checkout_payment_view.go
  web/cmd/web/checkout_shipping_handlers.go
  web/cmd/web/main.go
  web/internal/checkout/client.go
  web/internal/checkout/fake.go
  web/internal/middleware/session.go
  web/templates/pages/checkout_payment.tmpl
  web/templates/pages/checkout_shipping.tmpl
  web/templates/partials/frags/checkout_summary.tmpl
Due: gofmt-api, go-test-web

fix
  app/lib/core/routing/app_route_configuration.dart
  app/lib/core/routing/app_route_information_parser.dart
Due: flutter-analyze, flutter-test

fix
  admin/internal/admin/production/static.go
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/checkout_payment_handlers.go
Due: gofmt-api, go-test-web

docs: detail multilingual release plan
  doc/multilingual-release-plan.md
Due: none

Implement M0-T01 app string inventory
  doc/multilingual-release-plan.md
Due: none

docs: inventory web localization scope
  doc/multilingual-release-plan.md
Due: none

docs: inventory API localization scope
  doc/multilingual-release-plan.md
Due: none

docs: inventory release localization scope
  doc/multilingual-release-plan.md
Due: none

docs: add localization migration safety rules
  doc/multilingual-release-plan.md
Due: none

docs: add 68-language registry
  config/languages.json
  doc/multilingual-release-plan.md
Due: none

Add i18n registry parser
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/registry.mjs
  scripts/i18n/registry.test.mjs
Due: none

Add i18n status report
  Makefile
  doc/multilingual-release-plan.md
  scripts/i18n/status.mjs
  scripts/i18n/status.test.mjs
Due: none

Add i18n registry fixtures
  doc/multilingual-release-plan.md
  scripts/i18n/fixtures/registry-core.json
  scripts/i18n/registry.test.mjs
Due: none

docs: document registry update rules
  doc/multilingual-release-plan.md
Due: none

Add Flutter gen-l10n baseline
  app/l10n.yaml
  app/lib/app/localization/hanko_localizations.dart
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_ja.arb
  app/lib/l10n/generated/generated_hanko_localizations.dart
  app/lib/l10n/generated/generated_hanko_localizations_en.dart
  app/lib/l10n/generated/generated_hanko_localizations_ja.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/generated_hanko_localizations_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Migrate Chinese app localization assets
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_ja.arb
  app/lib/l10n/app_zh.arb
  app/lib/l10n/app_zh_Hant.arb
  app/lib/l10n/app_zh_Hant_intentions.json
  app/lib/l10n/app_zh_intentions.json
  app/lib/l10n/generated/generated_hanko_localizations.dart
  app/lib/l10n/generated/generated_hanko_localizations_en.dart
  app/lib/l10n/generated/generated_hanko_localizations_ja.dart
  app/lib/l10n/generated/generated_hanko_localizations_zh.dart
  app/test/generated_hanko_localizations_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Replace app localization accessors with gen-l10n
  app/lib/app/app.dart
  app/lib/app/localization/hanko_localizations.dart
  app/lib/features/design/presentation/design_home_screen.dart
  app/lib/features/order_lookup/presentation/order_lookup_entry_screen.dart
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_ja.arb
  app/lib/l10n/app_zh.arb
  app/lib/l10n/app_zh_Hant.arb
  app/lib/l10n/generated/generated_hanko_localizations.dart
  app/lib/l10n/generated/generated_hanko_localizations_en.dart
  app/lib/l10n/generated/generated_hanko_localizations_ja.dart
  app/lib/l10n/generated/generated_hanko_localizations_zh.dart
  app/test/generated_hanko_localizations_test.dart
  app/test/widget_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Move settings content to JSON assets
  app/assets/i18n/settings/en.json
  app/assets/i18n/settings/en_intentions.json
  app/assets/i18n/settings/ja.json
  app/assets/i18n/settings/ja_intentions.json
  app/lib/features/settings/presentation/settings_content.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/pubspec.yaml
  app/test/settings_content_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Render language settings from registry
  app/lib/app/localization/language_registry.dart
  app/lib/features/settings/presentation/settings_home_screen.dart
  app/pubspec.yaml
  app/test/language_registry_test.dart
  app/test/widget_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Persist preferred route code
  app/lib/app/app.dart
  app/lib/app/localization/language_registry.dart
  app/lib/features/common/data/app_launch_store.dart
  app/test/app_launch_store_test.dart
  app/test/language_registry_test.dart
  app/test/widget_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Add RTL overflow coverage
  app/lib/app/localization/language_registry.dart
  app/lib/features/order/presentation/order_flow_entry_screen.dart
  app/test/language_registry_test.dart
  app/test/rtl_overflow_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test

Add web language registry loader
  doc/multilingual-release-plan.md
  web/src/main.rs
Due: go-test-web

Add typed web copy document
  doc/multilingual-release-plan.md
  web/content/i18n/web-copy.json
  web/src/main.rs
  web/templates/about.html
  web/templates/blog_article.html
  web/templates/blog_index.html
  web/templates/commercial_transactions.html
  web/templates/index.html
  web/templates/kanji_suggestions.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/purchase_result.html
  web/templates/terms.html
  web/templates/top.html
Due: go-test-web

Extract web copy JSON files
  doc/multilingual-release-plan.md
  web/content/i18n/about/en.json
  web/content/i18n/about/ja.json
  web/content/i18n/about/zh.json
  web/content/i18n/blog_article/en.json
  web/content/i18n/blog_article/ja.json
  web/content/i18n/blog_article/zh.json
  web/content/i18n/blog_index/en.json
  web/content/i18n/blog_index/ja.json
  web/content/i18n/blog_index/zh.json
  web/content/i18n/commercial_transactions/en.json
  web/content/i18n/commercial_transactions/ja.json
  web/content/i18n/commercial_transactions/zh.json
  web/content/i18n/common/en.json
  web/content/i18n/common/ja.json
  web/content/i18n/common/zh.json
  web/content/i18n/design/en.json
  web/content/i18n/design/ja.json
  web/content/i18n/design/zh.json
  web/content/i18n/kanji_suggestions/en.json
  web/content/i18n/kanji_suggestions/ja.json
  web/content/i18n/kanji_suggestions/zh.json
  web/content/i18n/payment_failure/en.json
  web/content/i18n/payment_failure/ja.json
  web/content/i18n/payment_failure/zh.json
  web/content/i18n/payment_success/en.json
  web/content/i18n/payment_success/ja.json
  web/content/i18n/payment_success/zh.json
  web/content/i18n/purchase_result/en.json
  web/content/i18n/purchase_result/ja.json
  web/content/i18n/purchase_result/zh.json
  web/content/i18n/terms/en.json
  web/content/i18n/terms/ja.json
  web/content/i18n/terms/zh.json
  web/content/i18n/top/en.json
  web/content/i18n/top/ja.json
  web/content/i18n/top/zh.json
  web/content/i18n/web-copy.json
  web/src/main.rs
Due: go-test-web

Replace web language switcher fields
  doc/multilingual-release-plan.md
  web/src/main.rs
  web/templates/about.html
  web/templates/blog_article.html
  web/templates/blog_index.html
  web/templates/commercial_transactions.html
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/terms.html
  web/templates/top.html
Due: go-test-web

Generate indexed web SEO links
  doc/multilingual-release-plan.md
  web/src/main.rs
  web/templates/about.html
  web/templates/blog_article.html
  web/templates/blog_index.html
  web/templates/commercial_transactions.html
  web/templates/index.html
  web/templates/payment_failure.html
  web/templates/payment_success.html
  web/templates/terms.html
  web/templates/top.html
Due: go-test-web

Add web routing tests
  doc/multilingual-release-plan.md
  web/Cargo.lock
  web/Cargo.toml
  web/src/main.rs
Due: go-test-web

Generate API public config from registry
  api/src/bin/seed_catalog.rs
  api/src/language_registry.rs
  api/src/main.rs
  doc/multilingual-release-plan.md
Due: go-test-api

Move catalog seed copy to JSON
  api/content/i18n/catalog/countries.json
  api/content/i18n/catalog/facet_tags.json
  api/content/i18n/catalog/materials.json
  api/content/i18n/catalog/stone_listings.json
  api/src/bin/seed_catalog.rs
  doc/multilingual-release-plan.md
Due: go-test-api

Preserve catalog locale keys on seed updates
  api/src/bin/seed_catalog.rs
  doc/multilingual-release-plan.md
Due: go-test-api

Localize checkout product labels
  api/content/i18n/checkout/en.json
  api/content/i18n/checkout/ja.json
  api/content/i18n/checkout/zh.json
  api/content/i18n/checkout/zhtw.json
  api/src/main.rs
  doc/multilingual-release-plan.md
Due: go-test-api

Normalize checkout return locales
  api/src/language_registry.rs
  api/src/main.rs
  app/lib/app/app.dart
  app/lib/app/localization/language_registry.dart
  app/lib/features/order/domain/checkout_return.dart
  app/test/checkout_return_test.dart
  app/test/language_registry_test.dart
  doc/multilingual-release-plan.md
Due: flutter-analyze, flutter-test, go-test-api

Path conditions:
  flutter-analyze: any of: ^app/.*\.dart$
  flutter-test: any of: ^app/.*\.dart$
  gofmt-api: (any of: ^api/.*\.go$ and \.go$) or (any of: ^web/.*\.go$ and \.go$)
  go-test-api: any of: ^api/
  gofmt-admin: any of: ^admin/.*\.go$ and \.go$
  go-test-admin: any of: ^admin/
  go-test-web: any of: ^web/
