Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

.pre-commit-config.yaml:

fail_fast: true

repos:
  # 基本的なチェック（空白や改行など）
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: dart-format
        name: dart format
        entry: dart
        args: ["format", "app/"]
        language: system
        types: [dart]
      - id: flutter-analyze
        name: flutter analyze (errors and warnings only)
        entry: bash
        args: ["-c", "cd app && flutter analyze --no-fatal-infos"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: flutter-test
        name: flutter test
        entry: bash
        args: ["-c", "cd app && flutter test --no-pub"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: gofmt-api
        name: gofmt (api)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^api/.*\.go$
      - id: go-test-api
        name: go test (api)
        entry: bash -lc 'cd api && go test ./...'
        language: system
        pass_filenames: false
        files: ^api/
      - id: gofmt-admin
        name: gofmt (admin)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^admin/.*\.go$
      - id: go-test-admin
        name: go test (admin)
        entry: bash -lc 'cd admin && go test ./...'
        language: system
        pass_filenames: false
        files: ^admin/
      - id: gofmt-api
        name: gofmt (web)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^web/.*\.go$
      - id: go-test-web
        name: go test (web)
        entry: bash -lc 'cd web && go test ./...'
        language: system
        pass_filenames: false
        files: ^web/

[032 Implement localized guide content endpoints () with language/category query support.](./tasks/032-implement-localized-guide-content-endpoints-content-guides-with-language-categor.md)
  api/go.mod
  api/go.sum
  api/internal/di/container.go
  api/internal/domain/types.go
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/repositories/interfaces.go
  api/internal/services/content_service.go
  api/internal/services/content_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/services/content_service.go
  api/internal/services/content_service_test.go
Due: gofmt-api, go-test-api

033 Implement localized page content endpoint
  api/internal/domain/types.go
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/services/content_service.go
  api/internal/services/content_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/platform/textutil/stringmap.go
  api/internal/platform/textutil/stringmap_test.go
  api/internal/services/content_service.go
Due: gofmt-api, go-test-api

update tasks
  doc/admin/tasks.md
  doc/app/tasks.md
  doc/web/tasks.md
  doc/web/tasks/002-define-go-htmx-architecture-router-layout-template-structure-partials-naming-and-directory.md
  doc/web/tasks/006-scaffold-go-web-module-with-chi-echo-router-template-engine-asset-pipeline-tailwind-alpine.md
Due: none

update AGENTS.md
  AGENTS.md
Due: none

update github actions
  .github/workflows/api.yml
Due: none

Validate web scope, personas, and release milestones
  doc/web/scope_persona_release_validation.md
  doc/web/tasks.md
Due: none

Refactor and enhance documentation for AGENTS.md, including updates to design specifications and task outlines. Improve clarity on web scope and personas, and adjust release milestones accordingly.
  doc/web/go_htmx_architecture.md
Due: none

[034 Implement public promotion lookup endpoint returning exposure-safe fields only.](./tasks/034-implement-public-promotion-lookup-endpoint-returning-exposure-safe-fields-only.md)
  api/internal/domain/types.go
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/services/interfaces.go
  api/internal/services/pricing_engine_test.go
  api/internal/services/promotion_errors.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Define Go + htmx architecture (router layout, template structure, partials naming) and directory conventions.
  doc/web/tasks.md
Due: none

Establish shared components and Tailwind design tokens; document CSS/JS guidelines.
  doc/web/tailwind_components_guidelines.md
  doc/web/tasks.md
Due: none

Map full site navigation (public, design creation, checkout, account) with routes, breadcrumbs, and SEO considerations.
  doc/web/navigation_seo_map.md
  doc/web/tasks.md
Due: none

Produce integration checklist aligning web fragments with API endpoints and payload requirements.
  doc/web/integration_checklist.md
  doc/web/tasks.md
Due: none

035 Implement /me GET/PUT respecting editable fields and audit logging changes.
  api/cmd/api/main.go
  api/internal/di/container.go
  api/internal/handlers/me.go
  api/internal/handlers/me_test.go
  api/internal/services/promotion_errors.go
  api/internal/services/promotion_service.go
  api/internal/services/promotion_service_test.go
  api/internal/services/user_service.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Confirm admin console scope, personas (ops, CS, marketing), and rollout priorities based
  doc/admin/admin_scope_personas_rollout.md
  doc/admin/architecture.md
  doc/admin/tasks.md
  doc/admin/tasks/001-confirm-admin-console-scope-personas-ops-cs-marketing-and-rollout-priorities-based-on-doc-.md
  doc/admin/tasks/002-define-ui-architecture-go-server-side-rendering-htmx-partials-and-routing-conventions-for-.md
Due: none

Model navigation taxonomy and RBAC visibility rules; document mapping between sidebar groups and user roles.
  doc/admin/navigation_rbac.md
  doc/admin/tasks.md
  doc/admin/tasks/003-model-navigation-taxonomy-and-rbac-visibility-rules-document-mapping-between-sidebar-group.md
Due: none

fix
  api/internal/handlers/me.go
  api/internal/handlers/me_test.go
  api/internal/services/interfaces.go
  api/internal/services/user_service.go
Due: gofmt-api, go-test-api

Produce integration checklist aligning web fragments with API endpoints and payload requirements.
  doc/web/dev_setup.md
  web/.air.toml
  web/.gitignore
  web/Makefile
  web/assets/css/input.css
  web/cmd/web/main.go
  web/go.mod
  web/internal/handlers/home.go
  web/package.json
  web/postcss.config.js
  web/public/.gitkeep
  web/tailwind.config.js
  web/templates/layouts/base.tmpl
  web/templates/pages/home.tmpl
  web/templates/partials/head.tmpl
Due: gofmt-api, go-test-web

Produce data contract checklist mapping every admin action to the corresponding API endpoint and required request/response fields.
  doc/AGENTS.md
  doc/admin/data_contract_checklist.md
  doc/admin/tasks.md
  doc/admin/tasks/004-produce-data-contract-checklist-mapping-every-admin-action-to-the-corresponding-api-endpoi.md
Due: none

fix
  doc/web/dev_setup.md
  web/.gitignore
  web/Makefile
  web/assets/css/input.css
  web/package.json
  web/postcss.config.js
  web/tailwind.config.js
  web/templates/layouts/base.tmpl
Due: go-test-web

Scaffold Go web module with chi router, template engine, Tailwind asset pipeline, and dev tooling.
  doc/web/dev_setup.md
  doc/web/tasks.md
  web/.gitignore
  web/Makefile
  web/assets/css/input.css
  web/tailwind.config.js
  web/templates/layouts/base.tmpl
  web/tools/.gitkeep
Due: go-test-web

Scaffold Go web module
  admin/.air.toml
  admin/.gitignore
  admin/Makefile
  admin/README.md
  admin/cmd/admin/main.go
  admin/go.mod
  admin/go.sum
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/templates/dashboard/index.templ
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/generate.go
  admin/internal/admin/templates/layouts/base.templ
  admin/internal/admin/templates/layouts/base_templ.go
  admin/public/static/app.css
  admin/public/static/app.js
  admin/public/static_embed.go
  admin/tailwind.config.js
  admin/tools.go
  admin/web/styles/tailwind.css
  doc/admin/architecture.md
  doc/admin/dev_setup.md
  doc/admin/tasks.md
  doc/admin/tasks/005-scaffold-go-web-module-admin-or-web-with-templating-pipeline-asset-bundler-tailwind-and-de.md
Due: gofmt-admin, go-test-admin

036 Implement addresses CRUD endpoints with validation, default management, and dedupe.
  api/cmd/api/main.go
  api/internal/domain/types.go
  api/internal/handlers/me.go
  api/internal/handlers/me_addresses.go
  api/internal/handlers/me_addresses_test.go
  api/internal/handlers/me_test.go
  api/internal/repositories/firestore/address_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/interfaces.go
  api/internal/services/user_service.go
  api/internal/services/user_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  doc/web/dev_setup.md
  web/.gitignore
  web/Makefile
  web/tailwind.config.js
  web/templates/layouts/base.tmpl
Due: go-test-web

fix
  admin/Makefile
  admin/README.md
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/server.go
  admin/public/static/app.css
  admin/public/static/app.js
  doc/admin/architecture.md
  doc/admin/dev_setup.md
Due: gofmt-admin, go-test-admin

fix env name
  doc/web/deploy.md
  doc/web/dev_setup.md
  web/.dockerignore
  web/Dockerfile
  web/cloudbuild.yaml
  web/cmd/web/main.go
  web/config/env.sample
Due: gofmt-api, go-test-web

fix
  api/internal/handlers/me_addresses.go
  api/internal/repositories/firestore/address_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/user_service.go
  api/internal/services/user_service_test.go
Due: gofmt-api, go-test-api

Configure chi/echo router with middleware for auth, CSRF, caching headers, and htmx request detection.
  admin/README.md
  admin/internal/admin/httpserver/middleware/auth.go
  admin/internal/admin/httpserver/middleware/cache.go
  admin/internal/admin/httpserver/middleware/csrf.go
  admin/internal/admin/httpserver/middleware/htmx.go
  admin/internal/admin/httpserver/middleware/middleware_test.go
  admin/internal/admin/httpserver/server.go
  doc/admin/architecture.md
  doc/admin/dev_setup.md
  doc/admin/tasks.md
  doc/admin/tasks/006-configure-chi-echo-router-with-middleware-for-auth-csrf-caching-headers-and-htmx-request-d.md
Due: gofmt-admin, go-test-admin

Configure build/release pipeline for Cloud Run deployment (Dockerfile, cloudbuild.yaml, env configs)
  doc/web/tasks.md
Due: none

Implement middleware stack (auth, CSRF, session, logging, caching) shared across SSR and htmx fragments.
  doc/web/deploy.md
  doc/web/middleware.md
  doc/web/tasks.md
  web/cloudbuild.yaml
  web/cmd/web/main.go
  web/config/env.sample
  web/go.sum
  web/internal/handlers/home.go
  web/internal/middleware/assets.go
  web/internal/middleware/auth.go
  web/internal/middleware/context.go
  web/internal/middleware/csrf.go
  web/internal/middleware/htmx.go
  web/internal/middleware/locale.go
  web/internal/middleware/logger.go
  web/internal/middleware/responses.go
  web/internal/middleware/session.go
  web/templates/layouts/base.tmpl
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/httpserver/server.go
Due: gofmt-admin, go-test-admin

037 Integrate PSP token management for payment methods list/add/delete.
  api/cmd/api/main.go
  api/internal/domain/types.go
  api/internal/handlers/me.go
  api/internal/handlers/me_payment_methods.go
  api/internal/handlers/me_test.go
  api/internal/payments/payment_method_verifier.go
  api/internal/payments/stripe_provider.go
  api/internal/repositories/firestore/payment_method_repository.go
  api/internal/repositories/interfaces.go
  api/internal/services/interfaces.go
  api/internal/services/user_service.go
  api/internal/services/user_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  web/cmd/web/main.go
  web/internal/middleware/auth.go
  web/internal/middleware/csrf.go
  web/internal/middleware/logger.go
  web/internal/middleware/session.go
  web/internal/middleware/wrap.go
Due: gofmt-api, go-test-web

Set up localization (i18n dictionaries), formatting helpers, and SEO metadata utilities.
  doc/web/i18n-format-seo.md
  doc/web/tasks.md
  web/cmd/web/main.go
  web/internal/format/format.go
  web/internal/handlers/home.go
  web/internal/i18n/i18n.go
  web/internal/middleware/locale_resolver.go
  web/internal/seo/seo.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/layouts/base.tmpl
  web/templates/pages/home.tmpl
  web/templates/partials/head.tmpl
Due: gofmt-api, go-test-web

fix
  api/internal/repositories/firestore/payment_method_repository.go
Due: gofmt-api, go-test-api

fix
  web/cmd/web/main.go
  web/internal/i18n/i18n.go
  web/internal/middleware/context.go
  web/internal/middleware/locale_resolver.go
  web/locales/en.json
  web/locales/ja.json
Due: gofmt-api, go-test-web
