Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

flutter-analyze:
  name: flutter analyze (errors and warnings only)
  entry: bash
  args:
  - -c
  - cd app && flutter analyze --no-fatal-infos
  language: system
  pass_filenames: false

flutter-test:
  name: flutter test
  entry: bash
  args:
  - -c
  - cd app && flutter test --no-pub
  language: system
  pass_filenames: false

gofmt-api:
  name: gofmt (web)
  entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
  language: system

go-test-api:
  name: go test (api)
  entry: bash -lc 'cd api && go test ./...'
  language: system
  pass_filenames: false

gofmt-admin:
  name: gofmt (admin)
  entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
  language: system

go-test-admin:
  name: go test (admin)
  entry: bash -lc 'cd admin && go test ./...'
  language: system
  pass_filenames: false

go-test-web:
  name: go test (web)
  entry: bash -lc 'cd web && go test ./...'
  language: system
  pass_filenames: false

check off
  doc/api/tasks.md
Due: none

fix
  admin/public/static/app.js
  doc/admin/tasks.md
  htmx_docs.html
Due: go-test-admin

Build dashboard page () with KPI fragment endpoints
  admin/internal/admin/dashboard/service.go
  admin/internal/admin/dashboard/static.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/templates/auth/login_templ.go
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/dashboard/data.go
  admin/internal/admin/templates/dashboard/index.templ
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/layouts/auth_templ.go
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/layouts/modal_templ.go
  admin/internal/admin/templates/partials/breadcrumbs_templ.go
  admin/internal/admin/templates/partials/nav_templ.go
  admin/internal/admin/templates/partials/topbar_templ.go
  admin/internal/admin/templates/profile/index_templ.go
  admin/internal/admin/testutil/server.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

056 Implement checkout confirm endpoint recording client-side completion and triggering post-checkout workflow.
  api/internal/handlers/checkout.go
  api/internal/handlers/checkout_test.go
  api/internal/services/checkout_service.go
  api/internal/services/checkout_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  admin/public/static/app.js
Due: go-test-admin

fix
  api/cmd/api/main.go
  api/internal/services/checkout_service.go
Due: gofmt-api, go-test-api

Implement global search page () and result fragment () with filtering and keyboard shortcuts.
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/httpserver/ui/search_handlers.go
  admin/internal/admin/search/service.go
  admin/internal/admin/search/static.go
  admin/internal/admin/templates/auth/login_templ.go
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/dashboard/index_templ.go
  admin/internal/admin/templates/helpers/search.go
  admin/internal/admin/templates/layouts/auth_templ.go
  admin/internal/admin/templates/layouts/base_templ.go
  admin/internal/admin/templates/layouts/modal_templ.go
  admin/internal/admin/templates/partials/breadcrumbs_templ.go
  admin/internal/admin/templates/partials/nav_templ.go
  admin/internal/admin/templates/partials/topbar_templ.go
  admin/internal/admin/templates/profile/index_templ.go
  admin/internal/admin/templates/search/data.go
  admin/internal/admin/templates/search/index.templ
  admin/internal/admin/templates/search/index_templ.go
  admin/internal/admin/templates/search/table.templ
  admin/internal/admin/templates/search/table_templ.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

057 Implement order list/detail endpoints with pagination and user scoping.
  api/cmd/api/main.go
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  admin/internal/admin/httpserver/ui/search_handlers.go
Due: gofmt-admin, go-test-admin

fix
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
Due: gofmt-api, go-test-api

Implement templates listing/detail
  doc/web/tasks.md
  web/cmd/web/main.go
  web/internal/handlers/pages.go
  web/templates/pages/template_detail.tmpl
  web/templates/pages/templates.tmpl
  web/templates/partials/components/templates.tmpl
  web/templates/partials/frags/templates.tmpl
Due: gofmt-api, go-test-web

Create notifications page
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/httpserver/ui/notifications_handlers.go
  admin/internal/admin/notifications/service.go
  admin/internal/admin/notifications/static.go
  admin/internal/admin/templates/notifications/badge.templ
  admin/internal/admin/templates/notifications/badge_templ.go
  admin/internal/admin/templates/notifications/data.go
  admin/internal/admin/templates/notifications/index.templ
  admin/internal/admin/templates/notifications/index_templ.go
  admin/internal/admin/templates/notifications/table.templ
  admin/internal/admin/templates/notifications/table_templ.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

058 Implement order cancel endpoint enforcing status rules and triggering stock release.
  doc/api/tasks.md
Due: none

Build guides list/detail
  doc/web/tasks.md
  web/cmd/web/main.go
  web/go.mod
  web/go.sum
  web/internal/cms/fallback.go
  web/internal/cms/guides.go
  web/internal/handlers/pages.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/guide_detail.tmpl
  web/templates/pages/guides.tmpl
  web/templates/partials/frags/guides_latest.tmpl
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/templates/components/components.templ
  admin/internal/admin/templates/components/components_templ.go
  admin/internal/admin/templates/profile/data.go
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
Due: gofmt-admin, go-test-admin

059 Implement order invoice request endpoint producing task to generate PDF.
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
  api/internal/services/order_service.go
  api/internal/services/order_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Implement profile/account page () with 2FA setup, password/API key management, and session history.
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/templates/profile/index.templ
  admin/internal/admin/templates/profile/index_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  web/internal/cms/guides.go
Due: gofmt-api, go-test-web

fix
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
  api/internal/services/order_service.go
  api/internal/services/order_service_test.go
Due: gofmt-api, go-test-api

060 Implement order payment history retrieval.
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Implement static content pages
  web/assets/css/input.css
  web/cmd/web/main.go
  web/content/content/en/welcome.md
  web/content/content/ja/welcome.md
  web/content/legal/en/privacy-policy.md
  web/content/legal/ja/privacy-policy.md
  web/go.mod
  web/go.sum
  web/internal/cms/content.go
  web/internal/cms/guides.go
  web/internal/handlers/pages.go
  web/internal/status/status.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/content.tmpl
  web/templates/pages/legal.tmpl
  web/templates/pages/status.tmpl
  web/templates/partials/components/alert_banner.tmpl
  web/templates/partials/components/content_header.tmpl
  web/templates/partials/components/content_toc.tmpl
  web/templates/partials/components/icon.tmpl
  web/templates/partials/components/static_page.tmpl
  web/templates/partials/components/version_footer.tmpl
Due: gofmt-api, go-test-web

Implement orders index page
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/orders/service.go
  admin/internal/admin/orders/static.go
  admin/internal/admin/templates/orders/data.go
  admin/internal/admin/templates/orders/index.templ
  admin/internal/admin/templates/orders/index_templ.go
  admin/internal/admin/templates/orders/table.templ
  admin/internal/admin/templates/orders/table_templ.go
  admin/internal/admin/templates/profile/index_templ.go
  admin/public/static/app.js
Due: gofmt-admin, go-test-admin

Implement static content pages
  doc/web/tasks.md
  web/cmd/web/main_test.go
  web/content/content/en/about-hanko-field.md
  web/content/content/ja/about-hanko-field.md
  web/content/legal/en/privacy-policy.md
  web/content/legal/ja/privacy-policy.md
Due: gofmt-api, go-test-web

fix
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Build order detail page
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/orders/static.go
  admin/internal/admin/templates/orders/table.templ
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

062 Implement production events retrieval endpoint exposing timeline
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Implement design type selection page
  doc/web/tasks.md
  web/cmd/web/main.go
  web/cmd/web/main_test.go
  web/internal/handlers/pages.go
  web/locales/en.json
  web/locales/ja.json
  web/templates/pages/design_new.tmpl
  web/templates/partials/components/design.tmpl
  web/templates/partials/components/icon.tmpl
Due: gofmt-api, go-test-web

fix
  web/templates/pages/design_new.tmpl
Due: go-test-web

063 Implement reorder endpoint cloning design snapshot and cart lines to new order draft.
  api/internal/handlers/orders.go
  api/internal/handlers/orders_test.go
Due: gofmt-api, go-test-api

Build design editor
  doc/web/tasks.md
  web/cmd/web/editor.go
  web/cmd/web/main.go
  web/templates/pages/design_editor.tmpl
  web/templates/partials/frags/design_editor_fonts_modal.tmpl
  web/templates/partials/frags/design_editor_form.tmpl
  web/templates/partials/frags/design_editor_kanji_modal.tmpl
  web/templates/partials/frags/design_editor_preview.tmpl
  web/templates/partials/frags/design_editor_templates_modal.tmpl
Due: gofmt-api, go-test-web

Implement status update modal
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/orders/service.go
  admin/internal/admin/orders/static.go
  admin/internal/admin/orders/static_test.go
  admin/internal/admin/templates/orders/data.go
  admin/internal/admin/templates/orders/status.templ
  admin/internal/admin/templates/orders/status_templ.go
  admin/internal/admin/templates/orders/table.templ
  admin/internal/admin/templates/orders/table_templ.go
  admin/internal/admin/testutil/server.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  doc/api/tasks.md
Due: none

064 Implement review creation endpoint validating order ownership and completion.
  api/internal/handlers/reviews.go
  api/internal/handlers/reviews_test.go
  api/internal/handlers/router.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

Implement refund modal
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/orders/service.go
  admin/internal/admin/orders/static.go
  admin/internal/admin/templates/orders/data.go
  admin/internal/admin/templates/orders/refund.templ
  admin/internal/admin/templates/orders/refund_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

fix
  api/cmd/api/main.go
Due: gofmt-api, go-test-api

update AGNENTS.md
  app/AGENTS.md
  app/pubspec.lock
  app/pubspec.yaml
Due: none

fix
  web/cmd/web/editor.go
  web/cmd/web/main.go
  web/templates/partials/frags/design_editor_form.tmpl
  web/templates/partials/frags/design_editor_kanji_modal.tmpl
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/orders/static.go
Due: gofmt-admin, go-test-admin

065 Implement review retrieval endpoint scoped to requesting user/order.
  api/internal/handlers/reviews.go
  api/internal/handlers/reviews_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  web/cmd/web/editor.go
Due: gofmt-api, go-test-web

Path conditions:
  flutter-analyze: any of: ^app/.*\.dart$
  flutter-test: any of: ^app/.*\.dart$
  gofmt-api: (any of: ^api/.*\.go$ and \.go$) or (any of: ^web/.*\.go$ and \.go$)
  go-test-api: any of: ^api/
  gofmt-admin: any of: ^admin/.*\.go$ and \.go$
  go-test-admin: any of: ^admin/
  go-test-web: any of: ^web/
