Repository tkfinitefield/hanko-field: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-test, gofmt-api, go-test-api, gofmt-admin, go-test-admin, go-test-web

.pre-commit-config.yaml:

fail_fast: true

repos:
  # 基本的なチェック（空白や改行など）
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: dart-format
        name: dart format
        entry: dart
        args: ["format", "app/"]
        language: system
        types: [dart]
      - id: flutter-analyze
        name: flutter analyze (errors and warnings only)
        entry: bash
        args: ["-c", "cd app && flutter analyze --no-fatal-infos"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: flutter-test
        name: flutter test
        entry: bash
        args: ["-c", "cd app && flutter test --no-pub"]
        language: system
        pass_filenames: false
        files: ^app/.*\.dart$
      - id: gofmt-api
        name: gofmt (api)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^api/.*\.go$
      - id: go-test-api
        name: go test (api)
        entry: bash -lc 'cd api && go test ./...'
        language: system
        pass_filenames: false
        files: ^api/
      - id: gofmt-admin
        name: gofmt (admin)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^admin/.*\.go$
      - id: go-test-admin
        name: go test (admin)
        entry: bash -lc 'cd admin && go test ./...'
        language: system
        pass_filenames: false
        files: ^admin/
      - id: gofmt-api
        name: gofmt (web)
        entry: bash -lc 'for file in "$@"; do gofmt -w "$file"; done'
        language: system
        types: [go]
        files: ^web/.*\.go$
      - id: go-test-web
        name: go test (web)
        entry: bash -lc 'cd web && go test ./...'
        language: system
        pass_filenames: false
        files: ^web/

Implement secure storage, crash reporting (Sentry/Firebase Crashlytics), and analytics instrumentation
  app/AGENTS.md
  app/android/app/build.gradle.kts
  app/lib/core/firebase/app_firebase.dart
  app/lib/core/firebase/firebase_providers.dart
  app/lib/core/monitoring/analytics_controller.dart
  app/lib/core/monitoring/analytics_events.dart
  app/lib/core/monitoring/crash_reporting_controller.dart
  app/lib/core/privacy/privacy_settings_repository.dart
  app/lib/core/routing/app_router_delegate.dart
  app/lib/core/storage/secure_storage_service.dart
  app/lib/core/theme/app_theme.dart
  app/lib/core/theme/tokens.dart
  app/lib/features/sample_counter/application/counter_notifier.dart
  app/lib/features/sample_counter/application/providers.dart
  app/lib/features/sample_counter/data/local_counter_repository.dart
  app/lib/features/sample_counter/domain/counter_repository.dart
  app/lib/features/sample_counter/presentation/counter_screen.dart
  app/lib/firebase_options.dart
  app/lib/main.dart
  app/linux/flutter/generated_plugin_registrant.cc
  app/linux/flutter/generated_plugins.cmake
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
  app/test/features/sample_counter/counter_notifier_test.dart
  app/tool/check_coverage.dart
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  doc/app/tasks.md
  doc/app/tasks/010-implement-secure-storage-crash-reporting-sentry-firebase-crashlytics-and-analytics-instrum.md
Due: flutter-analyze, flutter-test

fix
  api/internal/handlers/reviews.go
  api/internal/handlers/reviews_test.go
Due: gofmt-api, go-test-api

Implement modal pickers for fonts/templates/kanji mapping
  doc/web/tasks.md
  web/cmd/web/main.go
  web/cmd/web/main_test.go
  web/templates/partials/frags/design_editor_fonts_modal.tmpl
  web/templates/partials/frags/design_editor_kanji_modal.tmpl
  web/templates/partials/frags/design_editor_templates_modal.tmpl
Due: gofmt-api, go-test-web

Implement invoice request modal
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/orders/service.go
  admin/internal/admin/orders/static.go
  admin/internal/admin/templates/orders/data.go
  admin/internal/admin/templates/orders/invoice.templ
  admin/internal/admin/templates/orders/invoice_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

066 Implement signed upload endpoint validating asset kind/purpose and returning pre-signed URL + metadata record.
  api/cmd/api/main.go
  api/internal/handlers/assets.go
  api/internal/handlers/assets_test.go
  api/internal/platform/config/config.go
  api/internal/platform/config/config_test.go
  api/internal/repositories/firestore/asset_repository.go
  api/internal/services/asset_service.go
  api/internal/services/asset_service_test.go
Due: gofmt-api, go-test-api

Build AI suggestions page
  doc/web/tasks.md
  web/cmd/web/design_ai_handlers.go
  web/cmd/web/design_ai_view.go
  web/cmd/web/main.go
  web/cmd/web/main_test.go
  web/internal/handlers/pages.go
  web/templates/pages/design_ai.tmpl
  web/templates/partials/components/design_ai.tmpl
  web/templates/partials/components/icon.tmpl
  web/templates/partials/frags/design_ai.tmpl
Due: gofmt-api, go-test-web

Add bulk export and print actions (CSV, PDF) with progress feedback.
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/orders_handlers.go
  admin/internal/admin/orders/service.go
  admin/internal/admin/orders/static.go
  admin/internal/admin/orders/static_test.go
  admin/internal/admin/templates/orders/data.go
  admin/internal/admin/templates/orders/export.templ
  admin/internal/admin/templates/orders/export_templ.go
  admin/internal/admin/templates/orders/index.templ
  admin/internal/admin/templates/orders/index_templ.go
  admin/internal/admin/templates/orders/invoice_templ.go
  admin/internal/admin/templates/orders/table.templ
  admin/internal/admin/templates/orders/table_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

Implement networking layer with HTTP client, interceptors (auth, logging), retries, and response parsing.
  app/lib/core/network/connectivity_service.dart
  app/lib/core/network/interceptors/auth_interceptor.dart
  app/lib/core/network/interceptors/connectivity_interceptor.dart
  app/lib/core/network/interceptors/http_interceptor.dart
  app/lib/core/network/interceptors/logging_interceptor.dart
  app/lib/core/network/network_client.dart
  app/lib/core/network/network_config.dart
  app/lib/core/network/network_exception.dart
  app/lib/core/network/network_providers.dart
  app/lib/core/network/retry_policy.dart
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

fix
  web/cmd/web/design_ai_view.go
  web/cmd/web/main_test.go
Due: gofmt-api, go-test-web

fix
  app/android/settings.gradle.kts
  app/lib/core/network/network_client.dart
Due: flutter-analyze, flutter-test

Implement design preview page
  doc/web/tasks.md
  web/cmd/web/main.go
  web/cmd/web/main_test.go
  web/cmd/web/preview.go
  web/internal/handlers/pages.go
  web/templates/pages/design_preview.tmpl
  web/templates/partials/frags/design_preview_image.tmpl
Due: gofmt-api, go-test-web

067 Implement signed download endpoint verifying ownership/permission before issuing link.
  api/internal/handlers/assets.go
  api/internal/handlers/assets_test.go
  api/internal/repositories/asset_errors.go
  api/internal/repositories/firestore/asset_repository.go
  api/internal/services/asset_service.go
  api/internal/services/asset_service_test.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  web/cmd/web/main_test.go
  web/cmd/web/preview.go
Due: gofmt-api, go-test-web

Create shipment batch page
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/httpserver/ui/shipments_handlers.go
  admin/internal/admin/navigation/menu.go
  admin/internal/admin/shipments/service.go
  admin/internal/admin/shipments/static.go
  admin/internal/admin/templates/shipments/data.go
  admin/internal/admin/templates/shipments/index.templ
  admin/internal/admin/templates/shipments/index_templ.go
  admin/internal/admin/templates/shipments/table.templ
  admin/internal/admin/templates/shipments/table_templ.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

Build API data models, DTOs, and repository interfaces for users, designs, catalog, orders, promotions, content.
  app/lib/core/data/dtos/catalog_dto.dart
  app/lib/core/data/dtos/content_dto.dart
  app/lib/core/data/dtos/design_dto.dart
  app/lib/core/data/dtos/order_dto.dart
  app/lib/core/data/dtos/promotion_dto.dart
  app/lib/core/data/dtos/user_dto.dart
  app/lib/core/domain/entities/catalog.dart
  app/lib/core/domain/entities/content.dart
  app/lib/core/domain/entities/design.dart
  app/lib/core/domain/entities/order.dart
  app/lib/core/domain/entities/promotion.dart
  app/lib/core/domain/entities/user.dart
  app/lib/core/domain/repositories/catalog_repository.dart
  app/lib/core/domain/repositories/content_repository.dart
  app/lib/core/domain/repositories/design_repository.dart
  app/lib/core/domain/repositories/order_repository.dart
  app/lib/core/domain/repositories/promotion_repository.dart
  app/lib/core/domain/repositories/user_repository.dart
  doc/app/api_models.md
  doc/app/tasks.md
Due: flutter-analyze, flutter-test

Build versions page
  doc/web/tasks.md
  web/cmd/web/design_versions_handlers.go
  web/cmd/web/design_versions_view.go
  web/cmd/web/main.go
  web/cmd/web/main_test.go
  web/internal/handlers/pages.go
  web/templates/pages/design_versions.tmpl
  web/templates/partials/frags/design_versions.tmpl
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/templates/shipments/data.go
Due: gofmt-admin, go-test-admin

fix
  web/cmd/web/design_versions_view.go
  web/cmd/web/main_test.go
  web/templates/partials/frags/design_versions.tmpl
Due: gofmt-api, go-test-web

Implement shipment tracking monitor
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/ui/shipments_handlers.go
  admin/internal/admin/navigation/menu.go
  admin/internal/admin/shipments/service.go
  admin/internal/admin/shipments/static.go
  admin/internal/admin/templates/shipments/tracking.templ
  admin/internal/admin/templates/shipments/tracking_data.go
  admin/internal/admin/templates/shipments/tracking_table.templ
  admin/internal/admin/templates/shipments/tracking_table_templ.go
  admin/internal/admin/templates/shipments/tracking_templ.go
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

Implement design share/download functionality with signed URL workflow.
  doc/web/tasks.md
  web/cmd/web/design_share_handlers.go
  web/cmd/web/design_share_view.go
  web/cmd/web/main.go
  web/templates/pages/design_preview.tmpl
  web/templates/partials/frags/design_share_modal.tmpl
Due: gofmt-api, go-test-web

Implement local persistence (Hive/Isar/shared_preferences) for caching, offline screen data, and onboarding state.
  app/lib/core/storage/cache_bucket.dart
  app/lib/core/storage/cache_policy.dart
  app/lib/core/storage/local_cache_store.dart
  app/lib/core/storage/offline_cache_repository.dart
  app/lib/core/storage/onboarding_local_data_source.dart
  app/lib/core/storage/storage_providers.dart
  app/lib/features/sample_counter/application/providers.dart
  app/lib/features/sample_counter/data/local_counter_repository.dart
  app/lib/main.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/core/storage/fakes.dart
  app/test/core/storage/local_cache_store_test.dart
  app/test/core/storage/onboarding_local_data_source_test.dart
  doc/app/tasks.md
  doc/app/tasks/013-implement-local-persistence-hive-isar-shared-preferences-for-caching-offline-screen-data-a.md
Due: flutter-analyze, flutter-test

068 Implement admin CRUD for templates with versioning and publishing workflow.
  api/cmd/api/main.go
  api/internal/domain/types.go
  api/internal/handlers/admin_catalog.go
  api/internal/handlers/admin_catalog_test.go
  api/internal/handlers/public_templates_test.go
  api/internal/repositories/interfaces.go
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
  api/internal/services/interfaces.go
  doc/api/tasks.md
Due: gofmt-api, go-test-api

fix
  web/cmd/web/design_ids.go
  web/cmd/web/design_share_handlers.go
  web/cmd/web/design_share_view.go
  web/cmd/web/preview.go
  web/templates/pages/design_preview.tmpl
  web/templates/partials/frags/design_share_modal.tmpl
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/templates/shipments/tracking.templ
  admin/internal/admin/templates/shipments/tracking_templ.go
Due: gofmt-admin, go-test-admin

Hook carrier webhook data or Firestore views to populate tracking dashboard, including exception badges and SLA indicators.
  admin/README.md
  admin/cmd/admin/main.go
  admin/internal/admin/shipments/firestore_service.go
  admin/internal/admin/shipments/static.go
  admin/internal/admin/shipments/tracking_helpers.go
  doc/admin/tasks.md
  doc/admin/tasks/033-hook-carrier-webhook-data-or-firestore-views-to-populate-tracking-dashboard-including-exce.md
Due: gofmt-admin, go-test-admin

Implement cart page
  doc/web/tasks.md
  web/cmd/web/cart_handlers.go
  web/cmd/web/cart_view.go
  web/cmd/web/main.go
  web/internal/handlers/pages.go
  web/templates/pages/cart.tmpl
  web/templates/partials/components/icon.tmpl
  web/templates/partials/frags/cart_estimate.tmpl
  web/templates/partials/frags/cart_promo_modal.tmpl
  web/templates/partials/frags/cart_table.tmpl
Due: gofmt-api, go-test-web

fix
  app/lib/core/storage/local_cache_store.dart
  app/lib/core/storage/offline_cache_repository.dart
  app/lib/core/storage/onboarding_local_data_source.dart
Due: flutter-analyze, flutter-test

fix
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
Due: gofmt-api, go-test-api

fix
  web/cmd/web/cart_view.go
Due: gofmt-api, go-test-web

fix
  admin/internal/admin/shipments/firestore_service.go
  admin/internal/admin/shipments/tracking_helpers.go
Due: gofmt-admin, go-test-admin

Create shared widgets (buttons, form fields, modals, cards, list skeletons) following design system.
  app/lib/core/ui/layout/responsive_layout.dart
  app/lib/core/ui/ui.dart
  app/lib/core/ui/widgets/app_button.dart
  app/lib/core/ui/widgets/app_card.dart
  app/lib/core/ui/widgets/app_empty_state.dart
  app/lib/core/ui/widgets/app_modal.dart
  app/lib/core/ui/widgets/app_skeleton.dart
  app/lib/core/ui/widgets/app_text_field.dart
  app/lib/features/sample_counter/presentation/counter_screen.dart
  doc/app/tasks.md
  doc/app/tasks/014-create-shared-widgets-buttons-form-fields-modals-cards-list-skeletons-following-design-sys.md
Due: flutter-analyze, flutter-test

069 Implement admin CRUD for fonts including licensing data.
  api/internal/domain/types.go
  api/internal/handlers/admin_catalog.go
  api/internal/handlers/admin_catalog_test.go
  api/internal/handlers/public_templates.go
  api/internal/handlers/public_templates_test.go
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
Due: gofmt-api, go-test-api

Build checkout address page () with address selection fragment and forms.
  doc/web/tasks.md
  web/cmd/web/checkout_address_handlers.go
  web/cmd/web/checkout_address_view.go
  web/cmd/web/main.go
  web/internal/handlers/pages.go
  web/internal/middleware/session.go
  web/templates/pages/checkout_address.tmpl
  web/templates/partials/components/inline_alert.tmpl
  web/templates/partials/frags/checkout_address_form.tmpl
  web/templates/partials/frags/checkout_address_list.tmpl
Due: gofmt-api, go-test-web

Create shared widgets (buttons, form fields, modals, cards, list skeletons) following design system.
  app/lib/core/ui/widgets/app_button.dart
  app/lib/core/ui/widgets/app_card.dart
  app/lib/core/ui/widgets/app_modal.dart
Due: flutter-analyze, flutter-test

fix
  api/internal/handlers/admin_catalog.go
  api/internal/handlers/admin_catalog_test.go
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
Due: gofmt-api, go-test-api

check
  doc/api/tasks.md
Due: none

fix
  web/cmd/web/checkout_address_handlers.go
  web/cmd/web/checkout_address_view.go
Due: gofmt-api, go-test-web

Implement production kanban page
  admin/cmd/admin/main.go
  admin/internal/admin/httpserver/server.go
  admin/internal/admin/httpserver/server_integration_test.go
  admin/internal/admin/httpserver/ui/handlers.go
  admin/internal/admin/httpserver/ui/production_handlers.go
  admin/internal/admin/production/service.go
  admin/internal/admin/production/static.go
  admin/internal/admin/templates/production/data.go
  admin/internal/admin/templates/production/index.templ
  admin/internal/admin/templates/production/index_templ.go
  admin/internal/admin/testutil/server.go
  admin/public/static/app.js
  doc/admin/tasks.md
Due: gofmt-admin, go-test-admin

070 Implement admin CRUD for materials capturing stock and supplier info.
  api/internal/di/container.go
  api/internal/domain/types.go
  api/internal/handlers/admin_catalog.go
  api/internal/handlers/admin_catalog_test.go
  api/internal/handlers/public_templates_test.go
  api/internal/repositories/firestore/inventory_repository.go
  api/internal/repositories/firestore/inventory_repository_integration_test.go
  api/internal/repositories/interfaces.go
  api/internal/services/catalog_service.go
  api/internal/services/catalog_service_test.go
  api/internal/services/checkout_service_test.go
  api/internal/services/interfaces.go
  api/internal/services/inventory_service.go
  api/internal/services/inventory_service_test.go
  api/internal/services/order_service_test.go
  doc/api/api.yaml
  doc/api/tasks.md
  doc/db/schema/materials.schema.json
Due: gofmt-api, go-test-api

Implement shipping selection
  doc/web/tasks.md
  web/cmd/web/checkout_shipping_handlers.go
  web/cmd/web/checkout_shipping_view.go
  web/cmd/web/main.go
  web/internal/middleware/session.go
  web/templates/pages/checkout_shipping.tmpl
  web/templates/partials/frags/checkout_shipping_summary.tmpl
  web/templates/partials/frags/checkout_shipping_table.tmpl
Due: gofmt-api, go-test-web
